<script>
 window.gameName = "<%= @game %>";
</script>

<div class="row">
  <div class="column">
    <h3><a href="/">Memory Game:</a> <%= @game %></h3>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>